<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <picture>
      <source type="image/webp" srcset="/assets/images/menu-logo-xxxs.webp 200w" sizes="200px">
      <source srcset="/assets/images/menu-logo-xxxs.png 200w" sizes="200px">
      <img src="/assets/images/menu-logo-xxxs.png" alt="Papa Dev" width="200px" height="54px">
    </picture>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item{% if page.url == "/" %} active{% endif %}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item{% if page.url == "/about.html" %} active{% endif %}">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item{% if page.url == "/subscribe.html" %} active{% endif %}">
          <a class="nav-link" href="/subscribe">Subscribe</a>
        </li>
        <li class="nav-item{% if page.url == "/contact.html" %} active{% endif %}">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0" onsubmit="return searchSubmit(event)">
        <div class="input-group">
          <input id="search" type="text" class="form-control" placeholder="Find articles..." aria-label="Find articles..." aria-describedby="search-button" onfocus="loadSearchScripts()">
          <div class="input-group-append">
            <button id="search-button" class="btn btn-light" type="button" data-toggle="collapse" data-target="#searchResults" aria-expanded="false" aria-controls="searchResults">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  {% include search-results.html %}
</div>
