---
---
<!-- Variables -->
{% capture read_time %}{{ page.content | number_of_words | divided_by: 180 }}{% endcapture %}
{% assign imgParts = page.image | split: "." %}
{% assign imgFilename = imgParts[0] %}
{% assign imgExt = imgParts[1] %}

<!-- Begin post layout -->
<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}
<body>
  {% include nav.html %}
  <div class="container">
    <div class="row">
      <div col-12>
        {% assign imageHeight = page.image_height | times: 1140 | divided_by: page.image_width | append: 'px' %}
        {% include images/responsive.html class="img-fluid" image=page.image image_alt=page.image_alt image_width="1140px" image_height=imageHeight sizes="images/col-12-sizes.html" %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <h2 class="display-3">{{ page.title }}</h2>
        <p class="lead">{{ page.tagline }}</p>
        <hr class="my-4">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-8">
            <p class="text-muted">By <a href="/authors/{{ page.author_shortname | default: site.author_shortname }}">{{ page.author | default: site.author }}</a> on {{ page.date | date_to_string: "ordinal", "US" }}</p>
          </div>
          <div class="col-4 text-right">
            <p class="text-muted">{% if read_time == '0' %}1{% else %}{{ read_time }}{% endif %} min read</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ content }}
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row text-center no-gutters">
          <div class="col-4">{% include icons/rss.html %}</div>
          <div class="col-4">{% include icons/github.html %}</div>
          <div class="col-4">{% include icons/twitter.html %}</div>
        </div>
        <hr>
        <span><h6 class='d-inline-block'>Tags: </h6>
          {% for tag in page.tags %}
          <span class="badge badge-pill badge-danger">{{ tag }}</span>
          {% endfor %}
        </span>
        <br><hr>
        <span><h6 class='d-inline-block'>Categories: </h6>
          {% for category in page.categories %}
          <span class="badge badge-pill badge-primary">{{ category }}</span>
          {% endfor %}
        </span>
        <br><hr>
        {% include about-me.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="my-4">
        {% include breadcrumb.html %}
      </div>
    </div>
  </div>
</body>
</html>
