/* Variable overrides */
// Font size
$font-size-base: 1.125rem;

// Breadcrumb delimeter
$breadcrumb-divider: quote(">");

// Colors
$link-color: #0074d9;
$body-bg: #f7fcfa;
$component-active-bg: #988780;
$theme-colors: (
  "primary": #008080,
  "secondary": #988780,
  "alternate": #FDAA74,
  "emphasis": #F65156,
  //"danger": #FDAA74,
  "dark": #13292A,
  "light": #E7DED9
);
