---
title: Categories
---
<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}
<body>
  {% include nav.html %}
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="text-center display-2">Categories</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
      {% assign sorted_categories = site.categories | sort %}
      {% for category in sorted_categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="{{ category_name | slugify }}">
          <h2><b>{{ category_name | capitalize }}</b></h2>
          <ul>
            {% for post in site.categories[category_name] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string: "ordinal", "US" }})</li>
            {% endfor %}
          </ul>
        </div>
        <br><br>
      {% endfor %}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
