---
---
<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="jumbotron bg-light">
          <h1 class="display-4">Welcome!</h1>
          <p class="lead">This is the grand opening of the Papa Dev blog. I don't know what I'm doing - let's have some fun!</p>
          <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="/welcome" role="button">Read the welcome post</a>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <h3 class="text-center">Explore topics</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row mb-4">
            <div class="card shadow-sm">
              <img src="/assets/images/father.jpg" class="img-fluid card-img-top" alt="...">
              <div class="card-body">
                <a class="stretched-link" href="/categories/father"><h5 class="card-title text-center">Father</h5></a>
                <p class="card-text">Join me on my journey of exploring fatherhood while raising a rambunctious pair of twins.</p>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="card shadow-sm">
              <img src="/assets/images/coder.jpg" class="img-fluid card-img-top" alt="...">
              <div class="card-body">
                <a class="stretched-link" href="/categories/coder"><h5 class="card-title text-center">Coder</h5></a>
                <p class="card-text">Find tips and tricks, technical musings, experiments gone right, and everything in between when it comes to coding.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm">
            <img src="/assets/images/foodie.jpg" class="img-fluid card-img-top" alt="...">
            <div class="card-body">
              <a class="stretched-link" href="/categories/foodie"><h5 class="card-title text-center">Foodie</h5></a>
              <p class="card-text">Amateur reviews, home-cooked recipes <s>stolen</s> borrowed from relatives and friends, and planning for future food tourism.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="text-center">Latest blog posts</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          {% for post in paginator.posts %}
          <div class="card mb-4 shadow-sm">
            {% capture read_time %}{{ post.content | number_of_words | divided_by: 180 }}{% endcapture %}
            {% assign imgParts = post.image | split: "." %}
            {% assign imgFilename = imgParts[0] %}
            {% assign imgExt = imgParts[1] %}
            <a href="{{ post.url }}">
              <picture>
                <source type="image/webp"
                  srcset="{{ imgFilename }}-xl.webp 1200w,
                    {{ imgFilename }}-lg.webp 1080w,
                    {{ imgFilename }}-md.webp 720w,
                    {{ imgFilename }}-sm.webp 540w,
                    {{ imgFilename }}-xs.webp 360w"
                  sizes="(min-width: 1200px) 918px,
                    (min-width: 992px) 768px
                    (min-width: 768px) 568px,
                    (min-width: 576px) 508px, calc(100vw - 49px)">
                <source
                  srcset="{{ imgFilename }}-xl.{{ imgExt }} 1200w,
                    {{ imgFilename }}-lg.{{ imgExt }} 1080w,
                    {{ imgFilename }}-md.{{ imgExt }} 720w,
                    {{ imgFilename }}-sm.{{ imgExt }} 540w,
                    {{ imgFilename }}-xs.{{ imgExt}} 360w"
                  sizes="(min-width: 1200px) 918px,
                    (min-width: 992px) 768px
                    (min-width: 768px) 568px,
                    (min-width: 576px) 508px, calc(100vw - 49px)">
                <img class="img-fluid card-img-top" src="{{ post.image }}" alt="{{ post.image_alt | default: post.title }}" width="{{ post.image_width }}" height="{{ post.image_height }}">
              </picture>
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <div class="row">
                <div class="col">
                  <p class="text-muted">By <a href="/authors/{{ page.author_shortname | default: site.author_shortname }}">{{ page.author | default: site.author }}</a></p>
                </div>
                <div class="col">
                  <p class="text-right text-muted">{% if read_time == '0' %}1{% else %}{{ read_time }}{% endif %} min read</p>
                </div>
              </div>
              {{ post.excerpt }}
              <div class="row align-items-top">
                <div class="col">
                  <p class="card-text"><small class="text-muted">Published on {{ post.date | date_to_string: "ordinal", "US" }}</small></p>
                </div>
                <div class="col">
                  <p class="text-right"><a class="btn btn-primary" href="{{ post.url }}">Read full article</a></p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
      <br>
      <nav aria-label="Pagination for blog posts">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if paginator.previous_page == nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.previous_page_path | default: "/" }}" tabindex="-1">Previous</a></li>
          {% for pi in (1..paginator.total_pages) %}
          <li class="page-item {% if paginator.page == pi %}active{% endif %}"><a class="page-link" href="{% if pi == 1 %}/{% else %}/blog/{{ pi }}{% endif %}">{{ pi }}</a></li>
          {% endfor %}
          <li class="page-item {% if paginator.next_page == nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.next_page_path | default: "/" }}">Next</a></li>
        </ul>
      </nav>
      {% endif %}
    </div>
  </body>
</html>
