---
---
<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      {% if paginator.page == 1 %}
      <div class="jumbotron bg-light mb-5">
          <h1 class="display-4">Welcome!</h1>
          <p class="lead">This is the grand opening of the Papa Dev blog. I don't know what I'm doing - let's have some fun!</p>
          <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="/welcome" role="button">Read the welcome post</a>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <h2 class="text-center">Explore topics</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="row mb-4">
            <div class="col-12">
              <div class="card shadow-sm">
                {% include images/responsive.html class="img-fluid card-img-top" image="/assets/images/father.jpg" image_alt="Explore blog posts in the Father category." image_width="538px" image_height="357px" sizes="images/col-md-6-sizes.html" %}
                <div class="card-body">
                  <a class="stretched-link" href="/categories#father"><h5 class="card-title text-center">Father</h5></a>
                  <p class="card-text">Join me on my journey of exploring fatherhood while raising a rambunctious pair of twins.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <div class="card shadow-sm">
                {% include images/responsive.html class="img-fluid card-img-top" image="/assets/images/coder.jpg" image_alt="Explore blog posts in the Coder category." image_width="538px" image_height="267px" sizes="images/col-md-6-sizes.html" %}
                <div class="card-body">
                  <a class="stretched-link" href="/categories#coder"><h5 class="card-title text-center">Coder</h5></a>
                  <p class="card-text">Find tips and tricks, technical musings, experiments gone right, and everything in between when it comes to coding.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm">
            {% include images/responsive.html class="img-fluid card-img-top" image="/assets/images/foodie.jpg" image_alt="Explore blog posts in the Foodie category." image_width="538px" image_height="806px" sizes="images/col-md-6-sizes.html" %}
            <div class="card-body">
              <a class="stretched-link" href="/categories#foodie"><h5 class="card-title text-center">Foodie</h5></a>
              <p class="card-text">Amateur reviews, home-cooked recipes <s>stolen</s> borrowed from relatives and friends, and planning for future food tourism.</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="text-center">Latest blog posts</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          {% for post in paginator.posts %}
          <div class="card mb-4 shadow-sm">
            {% capture read_time %}{{ post.content | number_of_words | divided_by: 180 }}{% endcapture %}
            <a href="{{ post.url }}">
              {% include images/responsive.html class="img-fluid card-img-top" image=post.image image_alt=post.image_alt image_width=post.image_width image_height=post.image_height sizes="images/col-md-10-sizes.html" %}
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <div class="row">
                <div class="col">
                  <p class="text-muted">By <a href="/authors/{{ page.author_shortname | default: site.author_shortname }}">{{ page.author | default: site.author }}</a></p>
                </div>
                <div class="col">
                  <p class="text-right text-muted">{% if read_time == '0' %}1{% else %}{{ read_time }}{% endif %} min read</p>
                </div>
              </div>
              {{ post.excerpt }}
              <div class="row align-items-top">
                <div class="col">
                  <p class="card-text"><small class="text-muted">Published on {{ post.date | date_to_string: "ordinal", "US" }}</small></p>
                </div>
                <div class="col">
                  <p class="text-right"><a class="btn btn-primary" href="{{ post.url }}">Read full article</a></p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
      <br>
      <nav aria-label="Pagination for blog posts">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if paginator.previous_page == nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.previous_page_path | default: "/" }}" tabindex="-1">Previous</a></li>
          {% for pi in (1..paginator.total_pages) %}
          <li class="page-item {% if paginator.page == pi %}active{% endif %}"><a class="page-link" href="{% if pi == 1 %}/{% else %}/blog/{{ pi }}{% endif %}">{{ pi }}</a></li>
          {% endfor %}
          <li class="page-item {% if paginator.next_page == nil %}disabled{% endif %}"><a class="page-link" href="{{ paginator.next_page_path | default: "/" }}">Next</a></li>
        </ul>
      </nav>
      {% endif %}
      {% include footer.html %}
    </div>
  </body>
</html>
